@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
  color: #f1f1f1;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #00ff99;
}

button {
  background-color: #00ff99;
  color: black;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background-color: #ffffff;
}
